/*
  This file is part of Suit up application.

  Suit up application is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 2 of the License, or
  (at your option) any later version.

  Suit up application is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Suit up application; if not, write to the Free Software
  Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
  Ten plik jest częścią Suit up application.

  Suit up application jest wolnym oprogramowaniem; możesz go rozprowadzać dalej
  i/lub modyfikować na warunkach Powszechnej Licencji Publicznej GNU,
  wydanej przez Fundację Wolnego Oprogramowania - według wersji 2 tej
  Licencji lub (według twojego wyboru) którejś z późniejszych wersji.

  Niniejszy program rozpowszechniany jest z nadzieją, iż będzie on
  użyteczny - jednak BEZ JAKIEJKOLWIEK GWARANCJI, nawet domyślnej
  gwarancji PRZYDATNOŚCI HANDLOWEJ albo PRZYDATNOŚCI DO OKREŚLONYCH
  ZASTOSOWAŃ. W celu uzyskania bliższych informacji sięgnij do
  Powszechnej Licencji Publicznej GNU.

  Z pewnością wraz z niniejszym programem otrzymałeś też egzemplarz
  Powszechnej Licencji Publicznej GNU (GNU General Public License);
  jeśli nie - napisz do Free Software Foundation, Inc., 59 Temple
  Place, Fifth Floor, Boston, MA  02110-1301  USA
*/

body {
  padding-top: 50px;
  padding-bottom: 20px;
  min-width: 320px;
}

img {
	margin: 0 auto;
}

.item-image {
	margin-top: 20px;
}

.item-box {
	padding: 10px;
}

.item-page {
	margin-top: 50px;
}

.btn--show-item {
	text-align: center;
}

.description-list {
	padding: 0;
	list-style: none outside none;
}

.panel-default {
	padding: 10px;
}

.panel-heading {
	margin: -10px -10px 10px -10px;
}

.form--order {
	margin-top: 50px;
}

.inline {
	display: inline-block;
	margin-right: 20px;
}

/* Bootstrap menu dropdown on hover rather than click */
/*ul.nav li.dropdown:hover > ul.dropdown-menu {
   display: block;    
}*/